In [1]:
import pandas as pd

In [8]:
df = pd.read_csv("EmployeeSampleData1.csv")
df

,Employee ID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02007,Ezra Vu,Network Administrator,IT,Manufacturing,Male,Asian,62,4/22/2004,"$66,227","0,00 %",United States,Phoenix,2/14/2014
1,E02023,Lillian Lewis,Technical Architect,IT,Research & Development,Female,Black,43,8/14/2013,"$83,323","0,00 %",United States,Phoenix,3/31/2019
2,E02038,Amelia Dominguez,Sr. Manager,Accounting,Corporate,Female,Latino,31,9/23/2015,"$158,184","15,00 %",Brazil,Rio de Janeiro,7/27/2018
3,E02043,Gianna Jones,Manager,Accounting,Research & Development,Female,Caucasian,48,9/26/1998,"$119,220","9,00 %",United States,Columbus,11/02/16
4,E02060,Jacob Cheng,Director,Sales,Manufacturing,Male,Asian,47,11/26/1999,"$155,890","17,00 %",United States,Columbus,11/27/2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,E02758,Sadie Pham,Analyst II,Finance,Specialty Products,Female,Asian,26,12/25/2022,"$66,563","0,00 %",China,Chengdu,1/25/2023
87,E02770,Iris Bailey,IT Coordinator,IT,Research & Development,Female,Caucasian,26,2/18/2020,"$42,343","0,00 %",United States,Miami,06/02/20
88,E02776,Caroline Sandoval,Manager,Finance,Specialty Products,Female,Latino,51,09/10/12,"$129,727","8,00 %",United States,Phoenix,10/07/21
89,E02848,Clara Collins,Network Engineer,IT,Manufacturing,Female,Caucasian,40,03/03/08,"$63,889","0,00 %",United States,Seattle,10/17/2022
90,E02851,Piper Evans,Computer Systems Manager,IT,Specialty Products,Female,Caucasian,52,1/28/2014,"$89,379","10,00 %",United States,Seattle,06/11/22

In [9]:
df["Annual Salary"] = df["Annual Salary"].str.strip().str.replace("$", "").str.replace(",", "")
df

,Employee ID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02007,Ezra Vu,Network Administrator,IT,Manufacturing,Male,Asian,62,4/22/2004,66227,"0,00 %",United States,Phoenix,2/14/2014
1,E02023,Lillian Lewis,Technical Architect,IT,Research & Development,Female,Black,43,8/14/2013,83323,"0,00 %",United States,Phoenix,3/31/2019
2,E02038,Amelia Dominguez,Sr. Manager,Accounting,Corporate,Female,Latino,31,9/23/2015,158184,"15,00 %",Brazil,Rio de Janeiro,7/27/2018
3,E02043,Gianna Jones,Manager,Accounting,Research & Development,Female,Caucasian,48,9/26/1998,119220,"9,00 %",United States,Columbus,11/02/16
4,E02060,Jacob Cheng,Director,Sales,Manufacturing,Male,Asian,47,11/26/1999,155890,"17,00 %",United States,Columbus,11/27/2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,E02758,Sadie Pham,Analyst II,Finance,Specialty Products,Female,Asian,26,12/25/2022,66563,"0,00 %",China,Chengdu,1/25/2023
87,E02770,Iris Bailey,IT Coordinator,IT,Research & Development,Female,Caucasian,26,2/18/2020,42343,"0,00 %",United States,Miami,06/02/20
88,E02776,Caroline Sandoval,Manager,Finance,Specialty Products,Female,Latino,51,09/10/12,129727,"8,00 %",United States,Phoenix,10/07/21
89,E02848,Clara Collins,Network Engineer,IT,Manufacturing,Female,Caucasian,40,03/03/08,63889,"0,00 %",United States,Seattle,10/17/2022
90,E02851,Piper Evans,Computer Systems Manager,IT,Specialty Products,Female,Caucasian,52,1/28/2014,89379,"10,00 %",United States,Seattle,06/11/22

In [10]:
df.dtypes

Employee ID      object
Full Name        object
Job Title        object
Department       object
Business Unit    object
Gender           object
Ethnicity        object
Age               int64
Hire Date        object
Annual Salary    object
Bonus %          object
Country          object
City             object
Exit Date        object
dtype: object

In [11]:
df["Annual Salary"] = pd.to_numeric(df["Annual Salary"])

In [12]:
df

,Employee ID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02007,Ezra Vu,Network Administrator,IT,Manufacturing,Male,Asian,62,4/22/2004,66227,"0,00 %",United States,Phoenix,2/14/2014
1,E02023,Lillian Lewis,Technical Architect,IT,Research & Development,Female,Black,43,8/14/2013,83323,"0,00 %",United States,Phoenix,3/31/2019
2,E02038,Amelia Dominguez,Sr. Manager,Accounting,Corporate,Female,Latino,31,9/23/2015,158184,"15,00 %",Brazil,Rio de Janeiro,7/27/2018
3,E02043,Gianna Jones,Manager,Accounting,Research & Development,Female,Caucasian,48,9/26/1998,119220,"9,00 %",United States,Columbus,11/02/16
4,E02060,Jacob Cheng,Director,Sales,Manufacturing,Male,Asian,47,11/26/1999,155890,"17,00 %",United States,Columbus,11/27/2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,E02758,Sadie Pham,Analyst II,Finance,Specialty Products,Female,Asian,26,12/25/2022,66563,"0,00 %",China,Chengdu,1/25/2023
87,E02770,Iris Bailey,IT Coordinator,IT,Research & Development,Female,Caucasian,26,2/18/2020,42343,"0,00 %",United States,Miami,06/02/20
88,E02776,Caroline Sandoval,Manager,Finance,Specialty Products,Female,Latino,51,09/10/12,129727,"8,00 %",United States,Phoenix,10/07/21
89,E02848,Clara Collins,Network Engineer,IT,Manufacturing,Female,Caucasian,40,03/03/08,63889,"0,00 %",United States,Seattle,10/17/2022
90,E02851,Piper Evans,Computer Systems Manager,IT,Specialty Products,Female,Caucasian,52,1/28/2014,89379,"10,00 %",United States,Seattle,06/11/22

In [18]:
df["Hire Date"] = pd.to_datetime(df["Hire Date"], format="mixed")
df

,Employee ID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02007,Ezra Vu,Network Administrator,IT,Manufacturing,Male,Asian,62,2004-04-22,66227,0.0,United States,Phoenix,2/14/2014
1,E02023,Lillian Lewis,Technical Architect,IT,Research & Development,Female,Black,43,2013-08-14,83323,0.0,United States,Phoenix,3/31/2019
2,E02038,Amelia Dominguez,Sr. Manager,Accounting,Corporate,Female,Latino,31,2015-09-23,158184,15.0,Brazil,Rio de Janeiro,7/27/2018
3,E02043,Gianna Jones,Manager,Accounting,Research & Development,Female,Caucasian,48,1998-09-26,119220,9.0,United States,Columbus,11/02/16
4,E02060,Jacob Cheng,Director,Sales,Manufacturing,Male,Asian,47,1999-11-26,155890,17.0,United States,Columbus,11/27/2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,E02758,Sadie Pham,Analyst II,Finance,Specialty Products,Female,Asian,26,2022-12-25,66563,0.0,China,Chengdu,1/25/2023
87,E02770,Iris Bailey,IT Coordinator,IT,Research & Development,Female,Caucasian,26,2020-02-18,42343,0.0,United States,Miami,06/02/20
88,E02776,Caroline Sandoval,Manager,Finance,Specialty Products,Female,Latino,51,2012-09-10,129727,8.0,United States,Phoenix,10/07/21
89,E02848,Clara Collins,Network Engineer,IT,Manufacturing,Female,Caucasian,40,2008-03-03,63889,0.0,United States,Seattle,10/17/2022
90,E02851,Piper Evans,Computer Systems Manager,IT,Specialty Products,Female,Caucasian,52,2014-01-28,89379,10.0,United States,Seattle,06/11/22

In [19]:
df.to_csv("EmployeeSampleData1.csv", index=False)

In [20]:
df["Exit Date"] = pd.to_datetime(df["Exit Date"], format="mixed")
df

,Employee ID,Full Name,Job Title,Department,Business Unit,Gender,Ethnicity,Age,Hire Date,Annual Salary,Bonus %,Country,City,Exit Date
0,E02007,Ezra Vu,Network Administrator,IT,Manufacturing,Male,Asian,62,2004-04-22,66227,0.0,United States,Phoenix,2014-02-14
1,E02023,Lillian Lewis,Technical Architect,IT,Research & Development,Female,Black,43,2013-08-14,83323,0.0,United States,Phoenix,2019-03-31
2,E02038,Amelia Dominguez,Sr. Manager,Accounting,Corporate,Female,Latino,31,2015-09-23,158184,15.0,Brazil,Rio de Janeiro,2018-07-27
3,E02043,Gianna Jones,Manager,Accounting,Research & Development,Female,Caucasian,48,1998-09-26,119220,9.0,United States,Columbus,2016-11-02
4,E02060,Jacob Cheng,Director,Sales,Manufacturing,Male,Asian,47,1999-11-26,155890,17.0,United States,Columbus,2003-11-27
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,E02758,Sadie Pham,Analyst II,Finance,Specialty Products,Female,Asian,26,2022-12-25,66563,0.0,China,Chengdu,2023-01-25
87,E02770,Iris Bailey,IT Coordinator,IT,Research & Development,Female,Caucasian,26,2020-02-18,42343,0.0,United States,Miami,2020-06-02
88,E02776,Caroline Sandoval,Manager,Finance,Specialty Products,Female,Latino,51,2012-09-10,129727,8.0,United States,Phoenix,2021-10-07
89,E02848,Clara Collins,Network Engineer,IT,Manufacturing,Female,Caucasian,40,2008-03-03,63889,0.0,United States,Seattle,2022-10-17
90,E02851,Piper Evans,Computer Systems Manager,IT,Specialty Products,Female,Caucasian,52,2014-01-28,89379,10.0,United States,Seattle,2022-06-11

In [21]:
df.to_csv("EmployeeSampleData1.csv", index=False)